:root {
  --main-black: #282c34;
  --main-white: white;
  --main-blue: #61dafb
}

.App {
  height: 100vh;
  margin: 10px;
  box-sizing: border-box;
}

.heading {
  background-color: var(--main-black);
  height: 50%;
  border-radius: 10px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.heading .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .navbar img {
  width: 50px;
  height: auto;
}
#menu-icon {
  height: 15px;
  width: auto;
}

